html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: white;
    font-family: 'Visitor', sans-serif;
}

.canvas-wrapper {
    text-align: center;
}

canvas {
    transform-origin: 0 0;
    outline: 1px solid black;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toolbar {
    position: absolute;
    bottom: 16px;
    z-index: 10;
}

.leaderboard {
    position: absolute;
    right: 16px;
    z-index: 10;
    width: 256px;
    padding: 8px;
    text-align: center;
}

.color-picker {
    padding: 6px 6px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 6px;
}

.color-block {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin: 1px;
    cursor: pointer;
}

.color-block:hover {
    border: 2px solid black;
    margin: 0;
}

.selected-color-block {
    border: 2px solid black;
    margin: 0;
}

button {
    padding: 6px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 128px;
    font-size: 24px;
    font-family: 'Visitor', sans-serif;
    margin: 8px;
}

.cooldown-btn {
    background-color: lightgray;
    cursor: default;
}

button:hover {
    background-color: lightgray;
}

.selected-pixel {
    opacity: 1;
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
    margin: 0;
}

.cursor {
    opacity: 0.5;
}

.menu-btn {
    width: 48px;
    height: 48px;
    padding: 6px;
    position: absolute;
    margin: 0;
    top: 16px;
    left: 16px;
}

.menu-img {
    width: 100%;
    height: 100%;
}

.menu {
    z-index: 10;
    padding: 24px;
    position: absolute;
    width: 324px
}

p {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

input {
    padding: 4px;
    border: 1px solid black;
    font-family: 'Visitor', sans-serif;
    font-size: 24px;
    margin: 4px 1px 1px;
}

input:hover {
    border: 2px solid black;
    border-radius: 0;
    margin: 3px 0 0;
}

input:focus {
    outline: none;
}

.leaderboard-title {
    font-size: 35px;
}

.menu-title {
    text-align: center;
    font-size: 35px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-btn {
    width: 100%;
    margin: 16px auto auto;
}

.p-btn {
    color: darkblue;
    cursor: pointer;
    text-decoration: underline;
}

.bottom-txt {
    margin-top: 16px;
}

.p-error {
    color: red;
    height: 16px;
    font-size: 16px;
    margin-top: 2px;
}

.leaderboard-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}

.cooldown {
    padding: 6px 8px;
    transition: background-color 0.3s;
    width: 128px;
    font-size: 24px;
    margin: 8px;
    text-align: center;
}

.flex-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leaderboard-name {
    font-size: 24px;
}

.leaderboard-pixels {
    font-size: 24px;
}

.not-connected {
    padding: 6px 8px;
    transition: background-color 0.3s;
    width: 192px;
    font-size: 24px;
    margin: 8px;
    text-align: center;
}

.reload {
    width: 34px;
    height: 34px;
    padding: 0;
    background: transparent;
    border: 0;
    margin: 0;
}

.reload:hover {
    background: transparent;
}

.rotate {
    animation: rotate360 1s;
}

.title-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.border-shadow {
    background-color: white;
    border: 2px solid black;
    -webkit-box-shadow: 8px 8px 0 0 rgba(0,0,0,0.5);
    box-shadow: 8px 8px 0 0 rgba(0,0,0,0.5);
}

.pixel-info {
    width: 384px;
    padding: 4px 16px;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 16px;
}

.hidden {
    display: none;
}

.draw-btn {
    width: 128px;
    height: 48px;
    font-size: 28px;
    margin-left: 32px;
}

.pixel-img {
    image-rendering: pixelated;
}

.swing-animation {
    animation: swing 1s infinite;
    transform-origin: center center;
}

@font-face {
    font-family: 'Visitor';
    src: url('../font/visitor.ttf');
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}